/*Css de estilos para o index*/

:root {
    --color-dark: rgb(70, 41, 65);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%;
}


/*Body* -------------------------------------------------------------------------------*/

body {
    background-color: #d0d1d4;
    font-family: 'Antonio', sans-serif;
}

.topnav {
    background-color: rgb(117, 172, 245);
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: rgb(95, 141, 201);
    color: var(--color-dark);
}


/* Add a color to the active/current link */

.topnav a.active {
    background-color: rgb(95, 141, 201);
    color: white;
}

.topnav a.active:hover {
    color: var(--color-dark);
}


/*Trick para deixar textos invísiveis pros olhos, mas possíveis de serem lidos em leitores de tela*/

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}


/*Titles -------------------------------------------------------------------------------*/

h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--color-dark);
    font-weight: normal;
}


/*Links e btns -------------------------------------------------------------------------------*/

a {
    color: rgb(94, 115, 185);
    text-decoration: none;
}

a:hover {
    color: rgb(51, 71, 138);
}

button {
    width: 50%;
    height: 50px;
    border: none;
    color: rgb(219, 219, 219);
    background-color: rgb(51, 71, 138);
    opacity: 0.7;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Antonio', sans-serif;
    font-size: 15px;
}

button:hover {
    opacity: 1;
}

.button.new {
    display: inline-block;
    margin-bottom: 0.8rem;
}

.button.cancel {
    color: rgb(204, 132, 132);
    border: 2px rgb(204, 132, 132) solid;
    opacity: 1;
    opacity: 0.7;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.button.cancel:hover {
    color: rgb(146, 80, 80);
    border: 2px rgb(146, 80, 80) solid;
    opacity: 1;
}


/*Header -------------------------------------------------------------------------------*/

header {
    background-color: rgb(117, 172, 245);
    padding: 2rem 0 10rem;
    text-align: center;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

#logo {
    color: rgb(255, 255, 255);
    font-weight: 1000;
    background-color: rgb(117, 172, 245);
    text-shadow: 0px 3px 5px rgb(51, 75, 107);
    ;
}


/*Balance -------------------------------------------------------------------------------*/

#balance {
    margin-top: -8rem;
}

#balance h2 {
    color: var(--color-dark);
    margin-top: 0;
    font-size: 2rem;
    line-height: 3rem;
}


/*Cards -------------------------------------------------------------------------------*/

.card {
    background-color: white;
    padding: 1.5rem 2rem;
    border-radius: 15px;
    margin-bottom: 2rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}

.card.green {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.card.green:hover {
    background-color: rgb(135, 206, 125);
}

.card.red {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.card.red:hover {
    background-color: rgb(204, 132, 132);
}

.card.blue {
    background-color: rgb(94, 115, 185);
}

.svg {
    width: 2rem;
    height: 2rem;
}


/*Table -------------------------------------------------------------------------------*/

#transaction {
    overflow-x: auto;
    display: block;
}

.new {
    text-shadow: 0px 3px 5px rgba(0, 0, 46, 0.4);
}

#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
}

table thead th:first-child,
table tbody td:first-child {
    border-radius: 15px 0 0 15px;
}

table thead th:last-child,
table tbody td:last-child {
    border-radius: 0 15px 15px 0;
}

table th {
    background-color: white;
    opacity: 0.7;
    color: var(--color-dark);
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: center;
}

table tr:hover {
    background-color: rgb(117, 172, 245);
    opacity: 1;
}

table tr {
    opacity: 0.7;
    text-align: center;
}

table td:hover {
    background-color: rgb(117, 172, 245);
    opacity: 1;
}

table tbody td {
    background-color: white;
    padding: 1rem 2rem;
    font-weight: normal;
    opacity: 0.7;
}

td.descripition {
    color: var(--color-dark);
}

td.income {
    color: rgb(76, 148, 76);
}

td.expense {
    color: rgb(185, 94, 94);
}


/*Modal -------------------------------------------------------------------------------*/

.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.guide {
    font-weight: normal;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

.modal-overlay.active {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    z-index: 999;
}

.modal {
    background-color: rgb(219, 219, 219);
    padding: 2.4rem;
    border-radius: 15px;
    position: relative;
    z-index: 999;
}


/*Form -------------------------------------------------------------------------------*/

#form {
    max-width: 500px;
}

.form-h2 {
    margin-top: 0;
}

input {
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem;
    width: 100%;
}

.input-group {
    margin-top: 0.8rem;
}

.input-group small {
    opacity: 0.6;
}

.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
    width: 48%;
}


/*Footer -------------------------------------------------------------------------------*/

footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--color-dark);
    opacity: 0.6;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}


/*Responsive -------------------------------------------------------------------------------*/

@media (min-width: 700px) {
    html {
        font-size: 87.5%;
    }
    #balance {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
}